@charset "utf-8";

/* この辺は被ってるから後で消す
* {
  margin: 0;
  padding: 0;
}

body {
  font: 13px/1.4 "メイリオ", "Meiryo", arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  color: #252525;
  background: #fff url(images/bg.png) repeat-x 0 110px;
}

a {
  color: #1c5ba1;
  text-decoration: none;
}

a:hover {
  color: #5583ce;
}

a:active,
a:focus {
  outline: 0;
}

img {
  border: 0;
}

.clear {
  clear: both;
} */

@media screen and (max-width:768px) {

  /*************
全体
*************/
  body {
    background: none;
    font-size: 1rem;
  }

  #wrapper {
    padding: 0;
    width: 100%;
    min-width: 335px;
  }

  /* mvになっているclick12.jpg */
  #wrapper a img {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 30px;
    /* background-color: lightseagreen; */
  }

  /*************
/* ヘッダー
*************/
  #header {
    /* background-color: pink; */
    background: none;
  }

  #header h1 {
    text-wrap: wrap;
  }

  #header a {
    top: 30px;
  }

  #header a img {
    width: 240px;
    height: auto;
  }

  /*************
/* トップナビゲーション
*************/
  ul#topnav {
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
    background: none;
    /* background-color: lightgreen; */
  }

  ul#topnav a {
    background: none;
    text-indent: 0;
    color: #fff;
    font-weight: bold;
  }

  /*************
/* ハンバーガーメニュー
*************/
  .hamburger {
    position: absolute;
    z-index: 100;
    top: 70px;
    right: 20px;
    height: 24px;
    width: 36px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .hamburger-icon {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: #333333;
  }

  .hamburger-icon::before,
  .hamburger-icon::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #333333;
    transition: 0.3s ease;
  }

  .hamburger-icon::before {
    top: 0;
  }

  .hamburger-icon::after {
    bottom: 0;
  }

  .hamburger.is-active .hamburger-icon {
    height: 0;
  }

  /* ボタンをクリックしたときにバツに変える */
  .hamburger.is-active .hamburger-icon::before {
    opacity: 1;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    transition: 0.3s ease;
  }

  .hamburger.is-active .hamburger-icon::after {
    opacity: 1;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transition: 0.3s ease;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    /* inset: 0; これをつけるとハンバーガーメニュー展開時に画面全体が薄暗くなる*/
    transition: 0.3s ease;
  }

  .nav.is-active {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100vh;
    transition: 0.5s ease;

    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-size: 20px;
    flex-direction: column;
    list-style-type: none;
  }

  .nav li {
    z-index: 100;
  }

  .nav li:hover {
    opacity: .7;
  }

  .nav li a {
    display: block;
    cursor: pointer;
  }

  .overlay::before {
    position: fixed;
    content: "";
    width: 100vw;
    height: 100vh;
    background: rgba(37, 39, 71, 0.7);
  }

  /*************
メイン（右側）コンテンツ
*************/
  #main {
    float: none;
    width: 100%;
    display: block;
    padding: 0;
  }

  #main .bannerM {
    /* background-color: pink; */
    width: 95%;
    /* 100%にすると横幅はみ出る */
    text-align: center;
    padding-left: 2%;
  }

  #main .bannerM a,
  #main .bannerM img {
    display: inline-block;
    width: 30%;
    height: 179px;
  }

  #main .bannerM a img {
    width: 100%;
    height: 100%;
  }

  #main .bannerM img:last-child {
    padding-right: 0;
  }

  #main h2,
  #main h3 {
    width: 90vw;
    /* 100vwにすると横幅はみ出る */
    background-size: contain;
  }

  #main p {
    padding: 0;
  }

  /* 画像右配置を解除 */
  #main p.withImage {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #main p.withImage img {
    display: block;
    float: none;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 20px;
  }

  #main .box {
    float: none;
    width: 200px;
    margin: 10px auto;
  }

  /* ボタン */
  p.button a {
    margin: 0;
  }

  /* メインとフッターのリスト位置調節 */


  /*************
サイド（左側）コンテンツ
*************/
  #sidebar {
    float: none;
    width: 80%;
    margin-inline: auto;
  }

  #sidebar h3 {
    padding-left: 50px;
    line-height: 3.5;
    font-size: 18px;
    font-weight: normal;
    background-size: 100%;
    background-position: center;
  }


  /*************
/* フッター
*************/
  #footer .inner {
    overflow: visible;
    width: 80%;
    margin-inline: auto;
    /* background-color: pink; */
  }

  #footer #logo {
    float: none;
    width: 100%;
    text-align: center;
  }

  #footer #logo a img {
    width: 80%;
    margin-inline: auto;
  }

  #footer .box {
    float: none;
    display: block;
    width: 100%;
    /* background-color: pink; */
  }

  #footer .box ul {
    width: 50%;
    margin-left: 35%;
    /* background-color: green; */
  }


}

/* ↑↑ 最後の「 } 」は mediaクエリの閉じタグ */
